{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}


{% block title %}
GD. Calc.
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='dashboard.css')}}">
<link rel="stylesheet" href="{{url_for('.static', filename='projectDetails.css')}}">
<script src="{{url_for('static', filename='rr.js')}}"></script>
{% endblock %}

{% block content %}
    {% include "nav.html" %}

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
              <li><a href="/dashboard">Overview</a></li>
              <li class="active"><a href="/">Create new Project <span class="sr-only">(current)</span></a></li>
              <li><a href="/projects">Projects</a></li>
              <li><a href="/history">History</a></li>
          </ul>

        </div>

          <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">


            <div class="container-contact100">
                <div class="wrap-contact100">

                    <form class="contact100-form validate-form" method="POST" action="/new_project" enctype="multipart/form-data">
                        <span class="contact100-form-title"><b>
                            New Project

                        </b>

                        </span>
                        <h6 style="color:red">{{ msg }}</h6>



                        <div class="wrap-input100 validate-input bg0">
                            <legend><label for="name" class="required">Project name</label> </legend>
                            <input type="text" class="input100" name="name" id="name" required>
                        </div>

                        <div class="wrap-input100 validate-input bg0" >
                            <legend><label for="des">Project Description</label></legend>
                            <textarea type="textArea" name="description" class="input100"  id="des"></textarea>
                        </div>

                        <div class="wrap-input100 validate-input bg0" >
                            <legend><span class="number required"></span> K value </legend>
                            <input type="number" name="k" id="k" class="input100"  required>
                        </div>

                        <div class="wrap-input100 validate-input bg0 rs1-alert-validate">
                            <legend><span class="number required"></span> Upload Only .txt Files</legend>
                            <input type="file" multiple="" name="file[]" class="span3 input100" required/>
                        </div>



                         <button class="btn btn-lg btn-primary btn-block" type="submit">Create Project</button>


                    </form>
                </div>


            </div>



        </div>
      </div>
    </div>
{% endblock %}